body {
  text-align: justify;
  background-color: black;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}



p {
  color: white;
  font-family: courier;
  font-size: 160%;

  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
}

h1 {
  color: pink;
  font-family: courier;
  font-size: 160%;

  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
}

